# analysis options
system = "system"
initially = "process1.x==0&sv.x==0&loc(process1)==s1&loc(sv)==s0&process2.x==0&loc(process2)==s1&process3.x==0&loc(process3)==s1&process4.x==0&loc(process4)==s1&process5.x==0&loc(process5)==s1"
forbidden="loc(process1)==s4&loc(sv)==s5&loc(process2)==s4&loc(process3)==s4&loc(process4)==s4&loc(process5)==s4"
iter-max = 16
rel-err = 1.0e-12
abs-err = 1.0e-13
