# analysis options
system = "system"
initially = "process1.x==0&sv.x==0&loc(process1)==s1&loc(sv)==s0&process2.x==0&loc(process2)==s1"
forbidden="loc(process1)==s4&loc(sv)==s2&loc(process2)==s4"
iter-max = 7
rel-err = 1.0e-12
abs-err = 1.0e-13
