# analysis options
system = "system"
initially = "moto1.x==0&moto1.g==12000&moto1.t==0&loc(moto1)==s1&moto2.x==0&moto2.g==12000&moto2.t==0&loc(moto2)==s1&moto3.x==0&moto3.g==12000&moto3.t==0&loc(moto3)==s1&moto4.x==0&moto4.g==12000&moto4.t==0&loc(moto4)==s1&moto5.x==0&moto5.g==12000&moto5.t==0&loc(moto5)==s1&moto6.x==0&moto6.g==12000&moto6.t==0&loc(moto6)==s1&moto7.x==0&moto7.g==12000&moto7.t==0&loc(moto7)==s1&moto8.x==0&moto8.g==12000&moto8.t==0&loc(moto8)==s1&moto9.x==0&moto9.g==12000&moto9.t==0&loc(moto9)==s1&moto10.x==0&moto10.g==12000&moto10.t==0&loc(moto10)==s1&moto11.x==0&moto11.g==12000&moto11.t==0&loc(moto11)==s1&moto12.x==0&moto12.g==12000&moto12.t==0&loc(moto12)==s1"
forbidden="loc(moto1)==s8&loc(moto2)==s8&loc(moto3)==s8&loc(moto4)==s8&loc(moto5)==s8&loc(moto6)==s8&loc(moto7)==s8&loc(moto8)==s8&loc(moto9)==s8&loc(moto10)==s8&loc(moto11)==s8&loc(moto12)==s8"
iter-max = 9
rel-err = 1.0e-12
abs-err = 1.0e-13
